@import '@/styles/trial/common.scss';
@import '../../../styles/trial/list-table.scss';
.group-button{
    margin-top: -7px;
    padding-top: 6px;
}
.page-body {
  height: calc(100% - 164px);
}

/deep/ thead {
  th:nth-child(4),
  th:nth-child(8) {
    .cell {
      font-size: 9px;
    }
  }
}

/deep/ tbody {
    td:nth-child(7) {
        .el-form-item {
            width: 130px;
        }
    }
    /deep/ tbody {
        td:first-child,
        td:nth-last-child(2) {
            padding-right: 10px;
        }
    }
}

/deep/ .el-table {
    thead {
        th:last-child {
            border-left: none;
            padding-left: 15px !important;
        }
    }
    tbody {
        td:last-child {
            border-left: none !important;
            padding-left: 0 !important;
        }
    }
}
