@import "@/styles/common-form";
.el-checkbox__inner {
    background: none;
    border: none;

    &:after {
        border-color: #1A1714;
        border-width: 4px;
        top: 0;
        width: 8px;
        height: 15px;
        left: 0;
        transform: rotate(45deg) scaleY(1);
        box-sizing: content-box;
        content: "";
    }
}
/deep/ .el-select-dropdown__list {
    padding-top: 6px !important;
    padding-bottom: 21px !important;
}
.card-body__content {
    height: calc(100% - 214px);
}

.card-body__content::v-deep .el-table .cell {
    padding-right: 0;
    padding-left: 3px !important;
}

/deep/ .el-input__inner {
    height: 36px;

}

.block-search::v-deep {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 0 20px;

    .form-search {
        .el-input {
            .el-input__inner {
                width: 174px;
            }
        }

        .el-select {
            .el-input__inner {
                width: 174px;
            }
        }

        .div-left {
            display: flex;
            align-items: center;
        }

        .div-right {
            display: flex;
            justify-content: space-between;

            .d-left {
                display: flex;
            }

            .d-right {
                button {
                    margin-top: -8px;
                }
            }
        }

        .el-form-item {
            margin-bottom: 17px;

            .el-form-item__label {
                padding-left: 0 !important;
            }
        }
    }

    button.el-button.search-btn {
        svg {
            font-size: 17px;
        }
    }
}

// custom paginate
.position-center::v-deep {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    button.btn-prev, button.btn-next {
        background: #FFFFFF;
    }
}

.form-search > > > .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
    display: none;
}

// custom table
.card-body__content::v-deep {
    .el-table {
        .cell {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .my-header {
        &:nth-child(8), &:nth-child(9) {
            padding: 0 !important;
        }
    }

    margin-top: 25px;

    .table-content {
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        border-top: 1px solid #d6d6d6;

        &:before {
            display: none;
        }

        table {
            th {
                color: #FFFFFF;
                padding: 0 20px;
                height: 30px;
                background: #535353;
                border-bottom: 1px solid #d6d6d6;
                font-size: 13px;
                font-family: Noto Sans JP, sans-serif;
                font-weight: 400;
            }

            td {
                border-bottom: 1px solid #d6d6d6;
                padding: 8px 0px 7px 20px;
                font-size: 14px;
            }

            button.btn-edit, button.btn-delete {
                margin-right: 10px;
                svg {
                    width: 30px;
                    height: 30px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            button.btn-delete {
                svg {
                    width: 16px;
                    height: 16px;

                    svg {
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}
.footer__group {
    display: flex;
    align-items: center;
    margin-top: 0;
}

// custom scroll selectbox
/deep/ .select-inside-table {
    .el-select-dropdown__item {
        width: 174px;
        color: #1a1714;
    }

    .el-scrollbar__bar {
        &.is-vertical {
            .el-scrollbar__thumb {
                background: #888888;
                width: 8px;
                left: 0;
                top: 0;

                &:hover {
                    background: #888888;
                }
            }
        }
    }
}
