@import '@/styles/trial/index.scss';
/deep/ .search {
  .el-row {
    &.top {
      .el-col:first-child {
        width: 218px;
      }
      .el-col:nth-child(2) {
        width: 218px;
      }
      .el-col:nth-child(3) {
        width: 289px;
      }
      .el-col:nth-child(4) {
        width: 218px;
      }
    }
    &.bot {
      .el-col:first-child {
        width: 226px;
      }
      .el-col:nth-child(2) {
        width: 255px;
      }
      .el-col:nth-child(3) {
        width: calc(57px + 10px + 135px);
        .el-input {
          width: calc(135px);
        }
      }
      .el-col:nth-child(4) {
        width: calc(71px + 10px + 135px);
        .el-input {
          width: calc(135px);
        }
      }
      .el-col:nth-child(5) {
        float: right;
        .el-form-item__content {
          text-align: right;
          width: 100%;
        }
        position: absolute;
        bottom: 0px;
        right: 0px;
          margin-right: 0px;
      }
    }
  }
}
