.el-form{
    height: 100%;
}
.page-body{
    height: calc(100vh - 284px);
}
.list-table {
    height: 100%;
    th.gutter{
        border-left: 1px solid #535353!important;
    }
}
span.icon-calendar {
    margin-left: 5px;
}

/deep/ .custom-pagination {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    height: 60px;
    background-color: #f0f0f0;

    button.btn-prev,
    button.btn-next {
        background: #ffffff;
    }
}
/deep/ thead {
    th:last-child {
        border-left: 1px solid #535353;
        padding-left: 10px;
    }
    th:first-child {
        padding-left: 20px;
    }
    th:nth-child(2) {
        padding-left: 14px;
    }
    th:nth-child(3) {
        padding-left: 14px;
    }
    th:nth-child(4) {
        padding-left: 14px;
    }
    th:nth-child(5) {
        padding-left: 6px;
    }
    th:nth-child(6) {
        padding-left: 16px;
    }
    td:nth-child(9){
        padding-left: 10px !important;
    }
    td:nth-child(10){
        padding-left: 10px !important;
    }
    th:nth-child(12) {
        padding-left: 10px;
    }
    .cell {
        font-size: 13px;
        height: 29px;
        line-height: 29px;
    }
    th{
        .cell{
            padding: 2px 0 !important;
        }
    }

}
/deep/ tr {
    .cell {
        padding: 0;
    }
    td:first-child {
        padding-left: 14px;
    }
    td:last-child {
        padding-left: 20px;
    }
    td:nth-child(2) {
        padding-left: 14px;
    }
    td:nth-child(3) {
        padding-left: 14px;
    }
    td:nth-child(4) {
        padding-left: 16px;
    }
    td:nth-child(5) {
        padding-left: 6px;
    }
    td:nth-child(6) {
        padding-left: 16px;
    }

    button.btn-edit, button.btn-delete {
        background: #f4f8fd;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        padding: 0;
        border: none;
        margin-right: 10px;
        color: #1467b3;
        vertical-align: middle;

        svg {
            width: 30px;
            height: 30px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

}
/deep/ .group-button {
    float: right;

    button {
        border-radius: 100px;
        color: #fff;
        height: 45px;
        border-color: #707070;
        span {
            font-size: 15px;
            font-weight: 600;
            vertical-align: middle;
        }
        &.btn-export {
            background: #343434;
            margin-right: 10px;
        }

        &.btn-create {
            background: #1367b3;
            width: unset;
        }

        i,
        svg {
            font-size: 20px;
            vertical-align: middle;
            font-weight: bold;
        }

        span {
            vertical-align: middle;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
/deep/ .btn-edit {
    background-color: #f4f8fd;
}

/deep/ .btn__action {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
